#mensmain {
  /* border: 1px solid black; */
  /* display: flex; */
  display: grid;
  /* grid-gap: 10px; */
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: auto;
  justify-items: center;
  margin-top: 0%;
}



#divimage6 {
  margin-top: 0%;
  width: 105%;
}

#image1 {
  width: 80%;
  height: 180px;
  margin-top: 0%;
}

#divimage2 {
  margin-top: 3%;
  width: 200%;
}

#fourpictures {
  display: flex;
  height: 500px;
  width: 75%;
  margin-top: 3%;
  margin-bottom: 3%;
  margin-left: 27%;
  /* border: 1px solid; */
}
.mainbrand {
  padding-left: 1%;
  padding-right: 1%;
  text-decoration: none;
  color: black;
}

.mainbrand1 {
  width: 100%;
  height: 380px;
}

#banner2 {
  background-color: rgb(255, 56, 92);

  width: 100%;
  justify-content: center;
  text-align: center;
  border: 1px solid;
}
#bannerimage2 {
  margin-top: 2%;

  width: 230px;
}
#bannertext > h1 {
  font-weight: 600;
  letter-spacing: 2px;
  font-style: bold;
  margin-bottom: 0;
  margin-top: 0;
  color: black;
  font-style: italic;
}

#bannersmalltext {
  font-family: futura-pt, FuturaStd, Helvetica, Arial, sans-serif;
  font-size: 12px;
}
#shopnow {
  display: flex;
  width: 80%;
  margin-top: 4%;
  gap: 5%;
}
.shopnowimage {
  width: 100%;
  height: 640px;
}

.shopnowtext {
  justify-content: center;
  /* border: 2px solid green; */
}
#trend {
  justify-content: center;
  margin-top: 3%;
}
#logoimg {
  display: flex;
  margin-left: 5%;
  margin-top: 5%;
}
#logoimg > img {
  width: 15%;
}

.shop_now {
  background-color: black;
  color: white;
  font-weight: bolder;
}
