.navbackground{
    background-color: #2D2D2D;
}
.logo{
    font-family: futura-pt,sans-serif;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: -5px;
    border-right: 1px solid #525050;
    line-height: 40px;
    margin-top: 0px;
    padding-top: 0px;
}
.navText{
    line-height: 32px;
    padding: 0px 25px 0px 25px;
    border-right: 1px solid #525050;
}
.navText:hover{
    background-color: #525050;
}

.inputarea{
    width: 750px;
    border-radius: 50px;
}

.symb{
    color: white;
}
.diff-sym{
    display: flex;
}
.dsc-text{
    margin-top: 0%;
    line-height: 1px;
}

.bottom{
    display: flex;
    background-color: #ef243c;
    vertical-align: middle;
}


.tag > button{
    font-size: 15px;
    background-color: transparent;
    color: black;
    border:2px solid black;
    padding: 5px 20px 5px 20px;
    margin-top: 10px;
    margin-bottom: 3px;
    font-weight: 700;

}

